<p class='summary'>Assemble is a project of the Technology and Activism Foundation, an all-volunteer 501(c)(3) organization which strives to bring the benefits of technology to community organizing and activism.</p>

<ul>
  <li class='bio'>
    <img class='headshot' src='/assets/brett.jpg'></img>
    <p>Brett McCully is co-founder, CEO, and CFO of Technology and Activism Foundation. He is currently working on his PhD in economics at UCLA and is passionate about activism.</p>
  </li>
  <li class='bio'>
    <img class='headshot' src='/assets/ruturaj.jpg'></img>
    <p>Ruturaj Choudhari is co-founder of Technology and Activism Foundation and a full stack software engineer at MathCrunch, a mobile on-demand homework help and tutoring service. Through his engineering skills, he hopes to build technology to facilitate activism. He also loves building things for fun, be it a new app or Ikea furniture.</p>
  </li>
  <li class='bio'>
    <img class='headshot' src='/assets/elizabeth.jpg'></img>
    <p>Elizabeth is a software engineer at Sendwave, where she works help immigrants to send money to their families as cheaply and easily as possible.  She is co-leader of Seattle Effective Altruists, and in her free time blogs about science, charity, and video games at AcesoUnderGlass.com.  She once won tug of war against a polar bear.</p>
  </li>
</ul>