<h3>Assemble’s Privacy Policy</h3>
<p>July 30,  2015</p>

<p>Assemble, the primary* website and apps operated by Technology and Activism Foundation (TAF), is committed to protecting the privacy and security of visitors to our products. Outlined below is our online privacy policy for information collected through our websites, email lists, and mobile apps.</p>

<h3>Privacy of our email lists</h3>
<p>Assemble considers your contact information to be private and confidential. We will NOT disclose it to any other entity unless you specifically authorize us to do so. 

If you support Assemble—and share your personally identifying information—this information will be used only to provide you with more targeted content, send further information about our organization, or contact you when necessary.

We will email you or push notifications to your phone to provide occasional updates about upcoming events that may be of interest to you. We will do our best to respect your time and attention. You may always opt out of receiving future emails or notifications.

We strongly recommend that you do not post confidential information when submitting an action to Assemble.</p>

<h3>Resale or disclosure of information to third parties</h3>
<p>We do not share or otherwise disclose any personal information, including your name, location, or email addresses with other organizations. Only Assemble staff and our authorized agents have access to personally identifiable information provided by visitors to our site.</p>

<h3>Disclosure for legal reasons</h3>
<p>We may release personal information to third parties: (1) to comply with valid legal requirements such as a law, regulation, valid governmental requests, search warrant, subpoena or court order; or (2) to prevent, investigate, detect, or prosecute criminal offenses or attacks on the integrity of the website, app, or our network; and/or to protect the rights, property, or safety of Technology and Activism Foundation, the users of the website or app, you, or the public. In the event that we are legally compelled to disclose your personal information to a third party, we will make reasonable efforts to notify you unless doing so would violate the law or court order.</p>

<h3>Browser information collected on our website</h3>
<p>As with any website and mobile app operator, Assemble analyzes our website and app logs to constantly improve the value of our products. We use Google Analytics, as widely used web analytics platform, to understand how users behave on our website. Due to privacy concerns of using this service, however, we have implemented code which anonymizes users’ IP addresses. (Feel free to inspect our code on <a href='https://github.com/ActivismTechnologiesFoundation/assemble-web'>GitHub</a>.) If IP anonymization is not sufficient to address a user’s privacy concerns, one may download the browser add-on to disable Google Analytics.</p>


<h3>Linking</h3>
<p>Throughout our website and mobile apps, we provide links to other websites which may contain information of interest to our users. We take no responsibility for, and exercise no control over, the organizations, views, or accuracy of the information contained on other websites. Please note: When you click on links to other websites, we encourage you to read their privacy policies. Their standards may differ from ours and we are not responsible for the privacy policies or practices of other websites.</p>

<h3>Changes to this Privacy Policy</h3>
<p>Please note that this Privacy Policy may change from time to time. We will post any Privacy Policy changes on this page and, if the changes are significant, we will provide a more prominent notice.

Each version of this Policy will be identified at the top of the page by its effective date.
If you have any questions or concerns about our Privacy Policy or its implementation, you may contact us at technology.activism.foundation@gmail.com. We strive to respond to all inquiries within one week.

* This privacy policy applies to all websites and apps operated by Technology and Activism Foundation.</p>

