<div class="container" id="landing-top-level-view">
  <div class="content-box">
    <h1>Assemble</h1>
    <p class="call-to-action">Find and share activist nearby events based on your interests</p>
    <a class= "get-started" href="/events">Get Started</a>
  </div>
</div>