<div class="container" id="landing-top-level-view">
</div>

<%= render 'shared/footer' %>


<script id="landing-top-level-view-template" type='text/x-handlebars-template'>
  <div class="content-box">
    <h1>Assemble</h1>
    <p class="call-to-action">
      Find and share activist events nearby<br/>
      based on your interests
    </p>

    <form class='zipcode-form'>
      <input type='text' placeholder='Enter your zipcode' maxlength='5' />
      <button class= "get-started" type='submit'>Get Started</button>
    </form>
  </div>
</script>