<footer>
  <ul class='static-links'>
    <li>
      <a href='/about'>About</a>
    </li>
    <li>
      <a href='/terms-of-service'>Terms of Service</a>
    </li>
    <li>
      <a href='/privacy-policy'>Privacy Policy</a>
    </li>
    <li>
      <a href='/contact'>Contact</a>
    </li>
  </ul>
</footer>

