<%= render 'shared/nav' %>

<div class='container' id='events-top-level-view'>
</div>

<% content_for :javascripts do %>
  AssembleApp.Data.Events = {
    topics: <%= @topics.to_json.html_safe %>
  }
<% end %>

<script id='events-top-level-view-template' type='text/x-handlebars-template'>
  <div class='side-bar'>
    <div id='filter-controls'>
      <div id='add-event'>Add Event<span>+</span></div>
      <div id='topic-select'></div>
    </div>
  </div>

  <div class='main'>
    <h2>Events</h2>
    <ul id='events-list' class='test-class'></ul>
  </div>
</script> 

<script id='event-list-cell-view-template' type='text/x-handlebars-template'>
  <h4 class='name'>{{name}}</h4>

  <p>{{description}}</p>
  
  <p>{{momentToString starts_at 'dddd, MMMM DD @ h:mm a'}}</p>

  <p class='address'>
    {{address.line1}} {{address.line2}}, {{address.city}} {{address.state}}, {{address.zipcode}}
  </p>

  <a href='{{url}}'>More information</a>
</script>

<script id='topic-select-view-template' type='text/x-handlebars-template'>
{{#if collapsable}}
    
  <div class='dropdown'><input id='topic' class='validatable' value='{{selected}}' placeholder='Topic of event'/>
  <span class='arrow'>▼</span>
  
{{else}}
    
  <div><h3>Select a Topic</h3>

{{/if}}

    <ul class='options'>

    {{#each values}}

      <li class='option {{classes}}' data-id='{{id}}'>{{name}}</li>

    {{/each}}

    </ul>

  </div>
</script>

<script id='event-form-template' type='text/x-handlebars-template'>
  <div id='overlay'></div>
  <form>
    <h3>Submit Event</h3>

    <div class="topic-dropdown">
    </div>

    <input id='name' type='text' class='validatable' placeholder='Name of event'/>
    <textarea id='description' type='text' class='validatable' placeholder='Brief description of event'/>
    <input id='url' type='text' class='validatable' placeholder='Website for event'/>

    <button type='submit'>Submit</button>
  </form>
</script>
