<div class="container" id="events-top-level-view">
</div>

<script id="events-top-level-view-template" type="text/x-handlebars-template">
  <h2>Events</h2>
  <div id="filter-controls"></div>
  <ul id="events-list" class="test-class"></ul>
</script> 

<script id="event-list-cell-view-template" type="text/x-handlebars-template">
  <h4 class="name">{{name}}</h4>

  <p>{{description}}</p>

  <p>{{momentToString starts_at "dddd, MMMM DD @ h:mm a"}}</p>

  <p class="address">
    {{address.line1}} {{address.line2}}, {{address.city}} {{address.state}}, {{address.zipcode}}
  </p>

  <a href="{{url}}">More information</a>
</script>
