<%= render 'shared/nav' %>

<div class='container' id='events-top-level-view'>
</div>

<% content_for :javascripts do %>
  AssembleApp.Data.Events = {
    topics: <%= @topics.to_json.html_safe %>
  }
<% end %>

<script id='events-top-level-view-template' type='text/x-handlebars-template'>
  <div class='side-bar'>
    <div id='filter-controls'>
      <div id='add-event'>Add Event</div>
      <div id='topic-select'></div>
    </div>
  </div>

  <div class='main'>
    <h2>Events</h2>
    <ul id='events-list' class='test-class'></ul>
  </div>
</script> 

<script id='event-list-cell-view-template' type='text/x-handlebars-template'>
  <h4 class='name'>{{name}}</h4>

  <p>{{description}}</p>

  <p>{{momentToString starts_at 'dddd, MMMM DD @ h:mm a'}}</p>

  <p class='address'>
    {{address.line1}} {{address.line2}}, {{address.city}} {{address.state}}, {{address.zipcode}}
  </p>

  <a href='{{url}}'>More information</a>
</script>

<script id='topic-select-view-template' type='text/x-handlebars-template'>
  <div class='dropdown'>{{selected}}</div>
  <ul class='options'>
    {{#each values}}
      <li class='option' data-id='{{id}}'>{{name}}</li>
    {{/each}}
  </ul>
</script>

<script id='event-form-template' type='text/x-handlebars-template'>
  <form>
    <h3>Submit Event</h3>

    <input type='text' placeholder='Name of Event'/>
    <textarea type='text' placeholder='Brief description of event'/>
    <input type='text' placeholder='Website for event'/>

    <button type='submit'>Submit</button>
  </form>
</script>
