<%= render 'shared/nav', { href: events_path.to_s } %>

<div class='container' id='events-top-level-view'>
</div>

<%= render 'shared/footer' %>

<% content_for :javascripts do %>
  AssembleApp.Data.Events = {
    topics: <%= @topics.to_json.html_safe %>
  }
<% end %>

<script id='events-top-level-view-template' type='text/x-handlebars-template'>
  <div class='side-bar'>
    <div id='filter-controls'>
      <div id='add-event' class='filter-option'>Add Event<span>+</span></div>
      <div id='filter-address' class='filter-option'>
      </div>
      <div id='topic-select'></div>
    </div>
  </div>

  <div class='main'>
    <h2>Events</h2>
    <ul id='events-list' class='test-class'></ul>
  </div>
</script> 

<script id='event-list-cell-view-template' type='text/x-handlebars-template'>
  <h4 class='name'>{{name}}</h4>

  <p>{{description}}</p>
  
  <p>{{momentToString starts_at 'dddd, MMMM DD @ h:mm a'}}</p>

  <p class='address'>
    {{address.line1}} {{address.line2}}, {{address.city}} {{address.state}}, {{address.zipcode}}
  </p>

  <a href='{{url}}'>More information</a>
</script>

<script id='topic-select-view-template' type='text/x-handlebars-template'>
{{#if collapsable}}
    
  <div class='dropdown'><input id='topic' class='validatable' value='{{selected}}' placeholder='Choose a topic'/>
  <span class='arrow'>▼</span>
  
{{else}}
    
  <h3>Select a Topic</h3>

{{/if}}

    <ul class='options'>

    {{#each values}}

      <li class='option {{classes}}' data-id='{{id}}'>{{name}}</li>

    {{/each}}

    </ul>

  {{#if collapsable}}

    </div>

  {{/if}}
</script>

<script id='event-form-template' type='text/x-handlebars-template'>
  <div id='overlay'></div>
  <form>

    <div class='close-x'>X</div>
    <h3 class='title'>Submit Event</h3>

    <div class='info-container block'>
      <div class='label topic'>Select a topic</div>
      <div class="topic-dropdown">
      </div>

      <div class='label name'>Name of event</div>
      <input id='name' type='text' class='validatable' placeholder="What's the event called?"/>
      
      <div class='label url'>Event website</div>
      <input id='url' type='text' class='validatable' placeholder='http://example.com'/>

      <div class='label description'>Description of event</div>
      <textarea id='description' type='text' class='validatable' placeholder='Write a breif description of the event'/>
    </div>

    <div class='logistics-container block'>
      {{#if address}}
        <div class='label address'>Address of event <span><a class='address-toggle clickable'>change</a></span></div>

        <div class='address-container'>
          <div class='street'><span>{{address.street}}</span></div>
          <div class='city-state-zip'><span>{{address.city}}</span>, <span>{{address.state}}</span> <span>{{address.zipcode}}</span></div>
        </div>
      {{else}}
        <div class='label address'>Address of event</div>
        <div class='autocomplete-address'>
        </div>
      {{/if}}

      <div class='label start-date'>Starts on</div>
      <input id='starts_at' type='text' placeholder='MM/DD/YYYY' class='validatable'/>
      
      <div class='label end-date'>Ends on</div>
      <input id='ends_at' type='text' placeholder='MM/DD/YYYY' class='validatable'/>
    </div>


    <button type='submit' class='block'>Submit</button>
  </form>
</script>

<%= render 'places_autocomplete_view' %>
