#events-top-level-view {
  padding-top: @navBarHeight + 20px;
  height: 100%;
  width: ~"calc(100% - 200px)";
  max-width: 1080px;
  margin: 0 auto;

  .font-default;

  h2 {
    margin: 0;
    color: @orange;
  }

  .main {
    width: 80%;
    height: 100%;
    float: right;
    background-color: white;
  }

  .side-bar {
    width: ~"calc(20% - 10px)";
    margin-right: 10px;
    height: 100%;
    float: left;
    background-color: white;
  }

  #topic-select {
    color: @orange;

    .dropdown {
      border: 1px solid @orange;
      border-radius: 5px;
      font-size: 25px;
      padding: 15px;
    }

    ul {
      list-style: none;
      display: none;
      padding: 0px 8px;
      margin: 0;
    }

    ul .option {
      font-size: 16px;
      padding: 15px 18px;
    }

    ul :not(:last-child) {
      border-bottom: 1px solid;
    }

    .selected {
      color: blue;
    }
  }

  #events-list {
    margin: 0 auto;
    padding: 0;
    height: ~"calc(100% - 50px)";
    width: 100%;
    overflow: auto;
    list-style: none;  
  }

  #topic-select .custom{
    width: 150px;
    height: 40px;
    border: 1px solid @gray;
    border-radius: 5px;
    color: @orange;
  }

  .event-cell {
    padding: 10px;
    color: @gray
  }

  .event-cell .name {
    color: @orange;
  }
}