#landing-top-level-view {
  background-color: @orange;
  color: @orange;
  height: 100%;
  width: 100%;

  .content-box {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    border-radius: 10px;

    text-align: center;
    .vertical-align;
  }

  h1 {
    margin-bottom:30px;
    font-size: 80px;
    line-height: 80px;
    font-weight: lighter;
  }

  .call-to-action {
    margin-bottom: 15px;
    padding: 30px 0;
    font-size: 20px;
    line-height: 25px;
    font-weight: lighter;
  }

  h1, .call-to-action {
    margin: 0;
  }

  .get-started {
    .button(@orange);
    margin: 0 auto;
  }
}