* {
  box-sizing: border-box;
}

html, body {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  margin: 0;
  .font-default;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: @navBarHeight;
  background-color: @orange;
  color: white;
  border-bottom: 3px solid white;
}

input, textarea {
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid @gray;
}

input {
  width: 200px;
  height: 40px;
}